[mysqld]
port = 3376

#basedir=/usr/local/mysql
#datadir=/data/mysql/mysql3376/data
#socket=/tmp/mysql3376.sock

basedir = /usr/local/mysql
datadir = /data/mysql/mysql3376/data
socket = /tmp/mysql3376.sock
tmpdir = /data/mysql/mysql3376/tmp
log-bin = /data/mysql/mysql3376/logs/mysql-bin
innodb_data_home_dir = /data/mysql/mysql3376/data
innodb_log_group_home_dir = /data/mysql/mysql3376/logs


user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
innodb_data_file_path=ibdata1:100M:autoextend

[mysqld_safe]
log-error=/data/mysql/mysql3376/error.log
# pid-file=mysqldb.pid
